<h2>Template: Basics</h2>

<div class="row">
    <div class="col">
        <form (ngSubmit)="sendProductToSave()" #myForm="ngForm">
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control mb-2"
                           placeholder="Product name"
                           ngModel
                           name="name"
                           minlength="3"
                           autocomplete="off"
                           required>
                    <span class="form-text text-danger" *ngIf="validateNameField()">Should have 3 letters</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control mb-2"
                           placeholder="Product price"
                           ngModel
                           name="price"
                           min="0"
                           max="999"
                           required>
                    <span class="form-text text-danger" *ngIf="validatePriceField()">Should be a valid price between 0 and 999</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control mb-2"
                           placeholder="Product stock"
                           ngModel
                           customMin
                           [minstock]="5"
                           name="stock"
                           required>  <!--The value minstock is send trough input decorator to customMin directive-->
                    <span class="form-text text-success">Available </span>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <button type="submit" class="btn btn-info" [disabled]="myForm?.invalid">Action</button>
                </div>
            </div>
        </form>

        <div class="col">
            <p>Form validation</p>
            <pre>{{myForm.valid}}</pre>

            <p>Form pristine</p>
            <pre>{{myForm.pristine}}</pre> <!--No field was touched since rendered-->

            <p>Form touched</p>
            <pre>{{myForm.touched}}</pre> <!--A field was touched-->

            <p>Form values</p>
            <pre>{{myForm.value | json}}</pre>

            <p>CustomDirective customMin</p>
            <pre>{{myForm.controls.stock?.errors | json}}</pre>
        </div>
    </div>
</div>
