<h2>Reactive: <small>Dynamics</small></h2>

<form action="" >
    <!-- Radio buttons -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                       type="radio" 
                       name="genderRadio" 
                       id="femaleRadioButton1" 
                       >
                <label class="form-check-label" for="femaleRadioButton1">
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input"
                       type="radio" 
                       name="genderRadio" 
                       id="maleRadioButton2" 
                       >
                <label class="form-check-label" for="maleRadioButton2">
                  Male
                </label>
              </div>
        </div>
    </div>

    <!--  Switches  -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Notifications</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="notifications">
                <label class="form-check-label" for="flexSwitchCheckChecked">Receive notifications</label>
              </div>
        </div>
    </div>

    <!-- Checkbox -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="input-group mb-1">
                <div class="form-check">
                    <input class="form-check-input" 
                           type="checkbox" 
                           name="termsandconditions"
                           id="defaultCheck1" >
                    <label class="form-check-label" for="defaultCheck1">
                      Agree terms and conditions
                    </label>
                  </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary float-end" >Save</button>
        </div>
    </div>
</form>

<!-- <h5>Form value</h5>
<pre> {{myForm.value | json}}</pre>

<h5>Person</h5>
<pre> {{person| json}}</pre>

<h5>Form validation</h5>
<pre>Valid: {{myForm.valid | json}}</pre>

<h5>Term and conditions</h5>
<pre>{{myForm.controls?.termsandconditions?.errors | json}}</pre> -->