<h2>Reactive: <small>Dynamics</small></h2>

<form (ngSubmit)="save()" action="" [formGroup]="myForm">
    <!-- Person Name -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   formControlName="name"
                   placeholder="Person Name" 
                   autocomplete="off">

            <span class="form-text text-danger" *ngIf="isValidField('name')" >Required and should be 3 letters min</span>
        </div>
    </div>

    <!-- Favorit input -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       placeholder="Add favorite">
                <button class="btn btn-outline-primary" type="button" >Add</button>
            </div>
        </div>
    </div>

    <!-- Favorite section display-->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let favorite of myForm.controls.favorites.value">
                <input  class="form-control" value="{{favorite}}">
                <button class="btn btn-outline-danger" type="button">Delete</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end" 
                    placeholder="Person Name" 
                    >Save</button>
        </div>
    </div>
</form>

<small>Valid</small>
<pre>{{myForm.valid | json}}</pre>

<small>Form data</small>
<pre>{{myForm.value | json}}</pre>

<!-- <small>Form data</small>
<pre>{{myForm.value | json}}</pre> -->